<!DOCTYPE html>
<html lang="pt-BR">
<head>

    <!-- Charset, viewport, favicon, global fonts, global stylesheets-->
    <%- include ('partials/head.ejs') %>

    <!-- Custom -->

    <title>Página Inicial | meajuda.ai</title>

    <link
    rel="stylesheet"
    href="/css/index.css"
    >

</head>
<body>
    <div class="home-page">
        
        <!-- Header -->
        <%- include ('partials/header.ejs') %>

        <!-- 'Last questions' section -->
        <div class="last-questions-section">
            <div class="container">
                <div class="last-questions-section-content">

                    <div class="section-title">
                        <p>Últimas perguntas</p>
                        <img src="/img/last-questions-dashed-line.svg">
                    </div>

                    <% questions.forEach( question => {%>
                        <article class="question">
                        <div class="question-text-area">
                            <h1> <%= question.title %> </h1>
                            <p> <%= question.description %> </p>
                        </div>
                        <a class="question-btn-area" href="/pergunta?id=<%= question.id %>">
                            <img src="/img/next-arrow.svg" alt="Responder pergunta">
                        </a>
                    </article>
                    <% }) %>
                    


                    <div class="section-footer">
                        <img src="/img/see-all-dashed-line.svg">
                        <a href="">Ver todas</a>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include ('partials/footer.ejs') %>
        
    </div>

</body>
</html>

